body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(128, 196, 255);
     font-family: poppins,sans-serif;
   
}
.main-div{
    background-color: rgb(29, 255, 255);
    height:350px;
    width:300px;
    
}
.main-div > div {
    display: flex;
    flex-direction: column;  
    margin-bottom: 20px;
}
.title{
    text-align: center;
     text-decoration: underline;
}
.url{
    margin-top: 10px;
    display: inline-block;
}
.short{
    display: inline-block;
}
.url-text{
    display:block;
    text-align: center;
   
}
.short-text{
    display:block;
    text-align: center;
}
.url-input{
    margin-left:22px;
    width:250px;
    height:20px;

}
.short-input{
    margin-left:22px;
    width:250px;
    height:20px;
}
.button{
    height:40px;
    width:80px;
    margin-left:110px;
    background-color: yellow;
    border:none;
    border-radius: 5px;
}
.button:hover{
  box-shadow: 2px 2px 5px rgba(0,0,0.5,0.5);
}
.head{
    text-align: center;

}
.ans{
    text-align: center;
    color: rgb(13, 0, 255);
    color: #000000;
   
   
}
