body {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  font-family: poppins;
}
.main-div {
  width: 800px;
  height: 600px;
  background-color: rgb(255, 255, 255);
  display: flex;
  transition: transform 0.3s ease;
}
.main-div:hover {
  transform: scale(1.02);
}
.left,
.right {
  width: 50%;
  height: 100%;
}

.right {
  background-color: #0044ff;
  color: #ffffff;
}
.pic {
  height: 600px;
  width: 400px;
}
.heading {
    margin-top:30px;
  text-align: center;
  text-decoration: underline;
}
.sub-headings {
  text-align: center;
}
.input {
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 95px;
  height: 30px;
  width: 220px;
  transition:transform 0.5s ease;
}
.input:hover{
    transform:scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.button{
    margin-left: 95px;
      border-radius: 10px;
    height: 30px;
    width: 227px;
    margin-top:40px;
    background-color: white;
    border: none;
    transition:transform 0.5s ease;
      background-color: rgb(255, 247, 0);
}
.button:hover{
    transform:scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  
}