body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d0ff72b1;
}

.container{
    height:400px;
    width:350px;
    background:linear-gradient(to right, #ff7e5f, #ff9a4d); 
    border-radius:15px;
}
.input{
    width: 300px;
    margin-left: 20px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    text-align-last: center;
}
