<h2 class="sign">Sign In</h2>

<h4>Username</h4>
<input class="input" placeholder="Enter Username" id="username-in">
<h4>Password</h4>
<input class="input" placeholder="Enter Password" id="password-in">
<button class="button" onclick="send_login()">Login</button>

<h2 class="register">Register</h2>

<h4>Username</h4>
<input class="input" placeholder="Enter Username" id="username-reg">
<h4>Password</h4>
<input class="input" placeholder="Enter Password" id="password-reg">
<button class="button" onclick="send_register()">Register</button>