<h1 >Hi , I am Abdul .</h1>
<h3>Full Stack Developer and Content Creator</h2>
<img class="img" src="/picture.webp">
<h2 class="post">Latest Posts</h2>

<ul class="ul-of-posts">
    <li class="li-of-posts">
        <a>
            How to learn NodeJs in 2025
        </a>
        <h4 class="date">Date</h4>
    </li>
        <li class="li-of-posts">
        <a href="#">
            How to make a 4k CC in After effects
        </a>
        <h4 class="date">Date</h4>
    </li>
</ul>
   
