<h1><%= Data.title %></h1>
<h3><%= Data.body %></h3>
<div class="parent">
  <textarea id="text-area" placeholder="Write something . . ." class="text-area"></textarea>
</div>
<div class="btn-div">
      <button class="text-btn" onclick="send_txt()">Submit</button>
</div>