@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #e6e6ff;
}
.ql-container{
  border: none !important;
}
.ql-toolbar{
  border: none !important;
}
.ql-editor{
  border: none !important;
}
@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

