@import "tailwindcss";

body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, #dff6ff, #ffffff);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  font-family: 'Poppins', sans-serif;
}